__pycache__

# ignore local system specific settings
/.devcontainer/devcontainer.json
/docker/run_args.json

# ignore large data
bind-mounts/workspace/data/*
!bind-mounts/workspace/data/.gitkeep
**log*.bag
**log*.bag.active

# ignore sensitiv data
bind-mounts/workspace/vpn/*
!bind-mounts/workspace/vpn/start_vpn_template.sh

# ignore depreciated files
archive