// See https://containers.dev/implementors/json_reference/
{
	"build": { 
		"dockerfile": "../docker/Dockerfile",
	},
    "overrideCommand": false,
	"workspaceMount": "",
	"workspaceFolder": "/ws/vsc-config/container.code-workspace",
	"initializeCommand": ".devcontainer/re_generate_devcontainer_json.py",
	"extensions": [
        // Optional:
        "ms-iot.vscode-ros",
		"mhutchie.git-graph",
	],
	"runArgs": [
		#docker_run_args,
	]
}