// See https://containers.dev/implementors/json_reference/
{
	"image": "#image_name",
	"initializeCommand": "docker/build.py",
	"postCreateCommand": "/entrypoint.sh",
	"workspaceMount": "",
	"runArgs": [
		#docker_run_args,
	],
	"workspaceFolder": "/ws",
	"extensions": [
		"ms-vscode.cpptools",
		"ms-vscode.cpptools-themes",
		"twxs.cmake",
        "donjayamanne.python-extension-pack",
        "ms-iot.vscode-ros",
		"mhutchie.git-graph"
	]
}