{
    "static_docker_run_args": [
        "-e", "USER_UID=#uid",
        "-e", "USER_GID=#gid",
        "--name", "#container_name",
        "--rm",
        "-v", "#project_dir/ws:/ws",
        "-v", "#data_dict:/data_dict.json",
        "--network", "#network"
	]
}